@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  color: rgb(243, 243, 243);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background: url(../images/bg.jpg) fixed center/cover;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  font-family: merri, serif;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
  pointer-events: none;
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

.btn {
  background: none;
  border: 2px solid rgb(17, 17, 17);
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s;
}
.btn:hover {
  transform: scale(1.05);
}

header {
  min-height: 92vh;
  margin: 0 5px;
}
header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 92.5vh;
  color: rgb(243, 243, 243);
}
header .header-content h1 {
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 90px;
}
header .header-content p {
  padding: 40px;
}
header .header-content a {
  border: 2px solid rgb(243, 243, 243);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
header .header-content a:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.219);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.274);
  border-radius: 10px 10px 0 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
header nav .left-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  gap: 5px;
}
header nav .left-nav li {
  padding: 22px;
  color: rgb(17, 17, 17);
  font-family: inter-bold, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
}
header nav .left-nav li:hover {
  background: rgba(255, 255, 255, 0.418);
}
header nav .left-nav li:first-child {
  background: rgba(255, 255, 255, 0.699);
  margin: 5px 0 5px 5px;
}
header nav .right-nav {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
header nav .right-nav li {
  color: rgb(243, 243, 243);
  cursor: pointer;
}
header nav .right-nav li i {
  font-size: 20px;
  padding: 20px;
  transition: 0.2s;
}
header nav .right-nav li i:hover {
  transform: scale(1.15);
}

main {
  max-width: 1100px;
  margin: 0 auto;
  background: rgb(243, 243, 243);
}
main .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section-1 span {
  width: 80%;
  padding: 70px 0;
  position: relative;
  display: block;
  font-size: 1.2rem;
}
main .section-1 span:before, main .section-1 span:after {
  content: "";
  position: absolute;
  width: 37%;
  height: 1px;
  background: rgb(209, 209, 209);
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 700px) {
  main .section-1 span:before, main .section-1 span:after {
    width: 30%;
  }
}
@media screen and (max-width: 700px) {
  main .section-1 span:before, main .section-1 span:after {
    width: 24%;
  }
}
main .section-1 span:before {
  left: 0;
}
main .section-1 span:after {
  right: 0;
}
main .section-1 h2 {
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 4rem;
}
main .section-1 p {
  margin: 40px 0;
  width: 60%;
  font-size: 1.2rem;
  line-height: 40px;
}
main .section-1 img {
  width: 80%;
}
main .section-1 button {
  margin: 40px 0;
}
main .section-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
main .section-2:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgb(209, 209, 209);
}
main .section-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 1px;
  background: rgb(209, 209, 209);
}
main .section-2 .left-part, main .section-2 .right-part {
  padding: 60px;
}
main .section-2 .left-part span, main .section-2 .right-part span {
  font-size: 0.75rem;
}
main .section-2 .left-part h3, main .section-2 .right-part h3 {
  margin: 20px 0;
  font-family: inter-bold, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 28px;
}
main .section-2 .left-part img, main .section-2 .right-part img {
  width: 100%;
}
main .section-2 .left-part p, main .section-2 .right-part p {
  text-align: left;
  line-height: 30px;
  margin: 30px 0;
  font-size: 0.8rem;
}

@media screen and (max-width: 1126px) {
  main {
    margin: 0 5px;
  }
}/*# sourceMappingURL=styles.css.map */